@using Nop.Web.Framework;
@using Nop.Plugin.Widgets.SliderAndPosition.Models;
@model SliderAndPositionModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Catalog.Products.Pictures.AddNew")
        </div>
        <div class="panel-body">
            <script type="text/javascript">
                    $(document).ready(function() {
                        $('#addProductPicture').click(function() {
                            var pictureId = $("#@Html.FieldIdFor(model => model.AddPictureModel.PictureId)").val();
                            var title = $("#@Html.FieldIdFor(model => model.AddPictureModel.Title)").val();
                            var url = $("#@Html.FieldIdFor(model => model.AddPictureModel.URL)").val();

                            if (pictureId == 0) {
                                alert('Upload picture first');
                                return;
                            }

                            $('#addProductPicture').attr('disabled', true);

                            var postData = {
                                PictureId: pictureId,
                                Title: title,
                                URL: url,
                                PositionId: @Model.Id
                                };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("ProductPictureAdd", "SliderAndPosition"))",
                                data: postData,
                                success: function(data) {
                                    var grid = $("#productpictures-grid");
                                    grid.data('kendoGrid').dataSource.read();
                                    $('#addProductPicture').attr('disabled', false);
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to add product picture.');
                                    $('#addProductPicture').attr('disabled', false);
                                }
                            });
                        });
                    });
            </script>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AddPictureModel.PictureId)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AddPictureModel.PictureId)
                    @Html.ValidationMessageFor(model => model.AddPictureModel.PictureId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AddPictureModel.Title)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AddPictureModel.Title)
                    @Html.ValidationMessageFor(model => model.AddPictureModel.Title)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AddPictureModel.URL)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AddPictureModel.URL)
                    @Html.ValidationMessageFor(model => model.AddPictureModel.URL)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AddPictureModel.Description)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AddPictureModel.Description)
                    @Html.ValidationMessageFor(model => model.AddPictureModel.Description)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AddPictureModel.DisplayOrder)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.AddPictureModel.DisplayOrder)
                    @Html.ValidationMessageFor(model => model.AddPictureModel.DisplayOrder)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="button" id="addProductPicture" class="btn btn-primary">@T("Admin.Catalog.Products.Pictures.AddButton")</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="productpictures-grid"></div>

            <script>
                    $(document).ready(function() {
                        $("#productpictures-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ListBannerByPositionId", "SliderAndPosition", new { positionId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("PictureUpdate", "SliderAndPosition"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("PictureDelete", "SliderAndPosition"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            PictureUrl: { editable: false, type: "string" },
                                            Title: { editable: true, type: "string" },
                                            URL: { editable: true, type: "string" },
                                            DisplayOrder: { editable: true, type: "number" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false,
                                @Html.Partial("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                            {
                                field: "PictureUrl",
                                title: "Src",
                                template: '<a href="#=PictureUrl#" target="_blank"><img src="#=PictureUrl#" width="150" /></a>',
                                width: 200
                            }, {
                                field: "URL",
                                title: "URL",
                                width: 200
                            }, {
                                field: "Title",
                                title: "Tiêu đề",
                                width: 200
                            }, {
                                field: "DisplayOrder",
                                title: "Thứ tự hiển thị",
                                width: 200
                            }, {
                                command: [
                                {
                                    name: "edit",
                                    text: {
                                        edit: "@T("Admin.Common.Edit")",
                                        update: "@T("Admin.Common.Update")",
                                        cancel: "@T("Admin.Common.Cancel")"
                                    }
                                }, {
                                    name: "destroy",
                                    text: "@T("Admin.Common.Delete")"
                                }
                                ],
                                width: 200
                            }
                            ]
                        });
                    });
            </script>
        </div>
    </div>
</div>
